@model IEnumerable<DataAccessLayer.Models.Datum>

@{
    ViewData["Title"] = "ShowDatums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowDatums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
